<!doctype html>
<html lang="en">

<head>
  <title>Events - Voluspa</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
    integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web" rel="stylesheet">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
    integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
  <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="/">Voluspa</a>
      <ul class="pure-menu-list">
        <% if (discordData) { %>
        <li class="pure-menu-item"><a href="/events" class="pure-menu-link">Events</a></li>
        <li class="pure-menu-item"><a href="/profile" class="pure-menu-link"><img class="discord-pfp"
              src="https://cdn.discordapp.com/avatars/<%= discordData.id %>/<%= discordData.avatar %>.png" /></a>
        </li>
        <% } else { %>
        <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
        <% } %>
      </ul>
    </div>
  </div>

  <div class="events-wrapper">
    <div class="events">
      <h2 class="events-head is-center">Upcoming Events</h2>

      <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-5 grid-padding"></div>
        <div class="l-box pure-u-1 pure-u-md-3-5 pure-u-lg-3-5">
        <% if (guilds.length > 0) { %>
          <% guilds.forEach(guild => { %>
          <h3><i class="fa"></i><img class="discord-guild-pfp"
              src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" /> <%= guild.name %>
          </h3>
          <table class="pure-table pure-table-bordered">
            <thead>
              <th>Join Code</th>
              <th>Fireteam</th>
              <th>Start Time</th>
              <th>Other info</th>
            </thead>
            <tbody>
              <% guild.next.forEach(event => { %>
              <tr>
                <td><span title="<%= event.name %>"><%= event.join_code %></span> </td>
                <td>
                  <%= (event.fireteam.split(',').includes(discordData.id) ? `${event.fireteam.split(',').length} - Joined` : event.fireteam.split(',').length) %>
                </td>
                <td>
                  <%= (event.start_time ? moment(event.start_time).tz(discordData.timezone).format('MMMM Do [@] HH:mm z') : 'Not scheduled') %>
                </td>
                <td>
                  <% if (event.private) { %>
                  <span title="Private">🔒</span> <%= (event.note ? ` - ${event.note}` : '') %>
                  <% } else { %>
                  <%= (event.note ? event.note : '') %>
                  <% } %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
          <% });%>
        </div>
        <% } else { %>
          <h3>No servers in common!</h3>
          <p>Join a server where Voluspa is active, or invite it to your own server by clicking <a
              href="https://discordapp.com/oauth2/authorize?client_id=540182175778078723&scope=bot">here</a></p>
        </div>
        <% } %>
        <div class="l-box pure-u-1 pure-u-md-1-5 pure-u-lg-1-5 grid-padding"></div>
      </div>
    </div>
  </div>
</body>

</html>